<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Interacation in Web Applications</title>
</head>

<body>
    <h2>Database Interacation in Web Applications</h2>
    <ol>
        <li>
            <h3>Retrieve all patients: <a href="http://localhost:3000/patients" target="_blank"
                    rel="noopener noreferrer">http://localhost:3000/patients</a></h3>
        </li>
        <li>
            <h3>Retrieve all providers: <a href="http://localhost:3000/providers" target="_blank"
                    rel="noopener noreferrer">http://localhost:3000/providers</a></h3>
        </li>
        <li>
            <h3>Filter patients by First Name: <a href="http://localhost:3000/patients/Lanni" target="_blank"
                    rel="noopener noreferrer">http://localhost:3000/patients/Lanni</a></h3>
        </li>
        <li>
            <h3>Retrieve all providers by their specialty: <a href="http://localhost:3000/providers/Pediatrics"
                    target="_blank" rel="noopener noreferrer">http://localhost:3000/providers/Pediatrics</a></h3>
        </li>
    </ol>
</body>

</html>